---
Checks: >
  *,
  -llvmlibc-restrict-system-libc-headers
WarningsAsErrors: "*"
HeaderFileExtensions:
  - ""
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: "*"
