---
Checks: >
  *,
  -altera-unroll-loops,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -llvmlibc-restrict-system-libc-headers,
  -readability-magic-numbers
WarningsAsErrors: "*"
HeaderFileExtensions:
  - ""
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: "*"
